@import url('https://fonts.googleapis.com/css?family=Raleway');

.clearfix {
  clear: both;
}
textarea, input{
    font-family: "Raleway";
}

body{
    margin: 0;
    font-family: "Raleway";
}

.barra_superior {
    border-bottom: 1px solid rgb(204,204,204);
    color: rgb(187,187,187);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}


.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}


nav {
    color: rgb(187,187,187);
    font-size: 14px;
    float: right;
    margin-top: 50px;
}

nav a {
    color: rgb(187,187,187);
    text-decoration: none;
}

nav .btn_destaque{
    margin-left: 25px;
}

.btn_destaque, .metade input[type = submit]{
    border: none;
    background-color: rgb(255,77,77);
    color: white;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
}

.sec01{
    height: 600px;
    color: white;
    background-image: url(../img/atendente.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
}

.sec01 .titulo{
    text-decoration: bold;
    height: 140px;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 40px;
    padding-top: 100px;
}

.sec01 p1{
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 50px;
}

.sec01 p{
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 30px;
    padding-bottom: 60px;
}

.sec02{
    border-bottom: 1px solid rgb(204,204,204);
}

.sec02 p{
    text-align: center;
    font-size: 28px;
}

.sec02 img {
    width: 100%;
    margin-bottom: 40px;
}

.sec03{
    height: 600px;
    text-align: right;
    background-image: url(../img/produtos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
}

.sec03 p{
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 30px;
    padding-top: 130px;
    padding-bottom: 20px;
    font-size: 54px;
    line-height: 120%;
    color: white;
}


.direitos_reservados{
    background-color: rgb(255,77,77);
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;  
}

.direitos_reservados a {
    color: white;
    text-decoration: none;
}

.um_terco{
    padding-top: 20px;
    float: left;
    width: 33%;
    color: rgb(136,136,136);
    padding-bottom: 20px;
}

.um_terco, .um_terco a{
    text-decoration: none;
    color: rgb(136,136,136);
}

.um_terco .logo{
    width: 90%
}

.um_terco img{
    width: 10%;
}

.margem_esquerda{
    margin-left: 30px;
}

.sec_fale_onde{
    height: 400px;
    background-color: #FAFAFA;
}

.metade{
    width: 50%;
    float: left;
    line-height: 150%;
    padding-top: 50px;
    color: rgb(120,120,120)
}

.metade form{
    line-height: 250%;
}

.metade form input[type =text], textarea,.modal input[type = text]{
    border: none;
    border-bottom: 1px solid lightgray;
    width: 60%;
    background-color: #FAFAFA;
    padding: 10px;
    color: rgb(120,120,120);
    box-shadow: 0;
    outline: 0;
}

.metade textarea{
    min-height: 100px;
}

.metade input[type = submit]{
    float: right;
    margin-right: 90px
}

.metade a{
    text-decoration: none;
    color: rgb(180,180,180);
}

.metade img{
    width: 35px;
}

.metade div, .metade address{
    padding-left: 35px;
}


.metade label{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}



@media screen and (max-width: 560px){
    .barra_superior .container{
        margin-left: 10px
    }
    .logo{
        width: 100%;
    }
    nav{
        float: none;
        font-size: 14px;
        text-align: center;
    }
    .sec01 p, .sec01 .btn_destaque{
        margin-left: 15px;
    }
    .sec03{
        text-align: center;
        background-position: right;
        height: 500px
    }
    .sec03 p{
        padding-top: 90px;
    }
    .um_terco{
        margin-left: 15px;
        width: 100%;
        border-bottom: 1px solid rgb(204,204,204);
    }
    
    .um_terco .logo{
        width: 60%;
    }
    .margem_esquerda{
        margin-left: 0px;
    }
    
    .container_logo{
        text-align: center;
    }
}

.modal{
    display: none;
    position: fixed;
    width: 400px;
    min-height: 200px;
    background-color: white;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    border-radius: 4px;
}

.modal input[type = text]{
    width: 95%;
}

.modal a{
    float: right;
    font-size: 24px;
    text-decoration: none;
    color: rgb(180,180,180);
    cursor: pointer;
}

span.nao_valido{
    color: red;
    display: none;
}

input.nao_valido, textarea.nao_valido{
    border-bottom: 1px solid red !important;
}

.texto{
    color: gray;
    float: right;
    font-size: 12px;
    margin-right: 50px;
    line-height: 1px;
}










